body {
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f8fafc;
  color: #222;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  text-align: center;
}
.container {
  max-width: 400px;
  margin: 40px auto;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
  padding: 32px 24px;
}
h1 {
  color: #2a85f4;
  margin-bottom: 4px;
}
h1 span {
  color: #1bd655;
}
.stats {
  display: flex;
  justify-content: center;
  gap: 32px;
  margin: 18px 0 10px 0;
}
.stats span {
  font-size: 22px;
  color: #2563eb;
  font-weight: bold;
  display: block;
}
.stats label {
  font-size: 13px;
  color: #6b7280;
}
.add-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 10px;
}
.add-section input {
  flex: 1;
  font-size: 16px;
  padding: 8px 12px;
  border: 1px solid #e4e7eb;
  border-radius: 6px;
}
#addBtn{
  padding: 8px 18px;
  background: #2563eb;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

.todo-list {
  list-style: none;
  padding: 0;
}

.todo-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 5px rgba(60,60,60,0.06);
  padding: 15px 10px;
  max-width: 400px;
}

.todo-list input[type="checkbox"] {
  accent-color: #18ce66;
  transform: scale(1.3);
  margin-right: 12px;
  margin-top: 3px;
}

.todo-list .content {
  display: flex;
  flex-direction: column;
}

.todo-list #title {
  font-weight: 600;
  font-size: 1.08em;
  margin-bottom: 3px;
  text-align: left;
  margin-top: -4px;
}

.todo-list .desc {
  font-size: 0.97em;
  color: #888;
}

.todo-list li.completed {
  background: #eafbea;
  border: 1.5px solid #b3e6c9;
}

.todo-list li.completed .title {
  text-decoration: line-through;
  color: #888;
  opacity: 0.8;
}
